// {
//   "apn": {
//     "passphrase": "xxxxxxxxx",  
//     "key": "apnProdKey.pem",
//     "cert": "apnProdCert.pem"
//   },
//   "gcm": {
//     "apiKey": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
//     "projectNumber": xxxxxxxxxxxx
//   },
//   "production": true
// }