{
	"loggly": {
		"production": false,
		"token": "<APP_TOKEN>",
		"username": "<APP_USERNAME>",
		"password": "<APP_PASSWORD>"
	},
	"facebook": {
		"appId": "<APP_ID_HERE>",
		"secret" : "<SECRET_HERE>"
	},
	"public": {
    "facebook": {
      "permissions": [ "public_profile", "email" ]
    },
    "analyticsSettings": {
      "Google Analytics" : {"trackingId": "Your tracking ID"},
      "GoSquared"        : {"siteToken": "Your site token (eg. GSN-123456-Y)"},
      "Mixpanel"         : {"token":  "your token", "people": true},
      "KISSmetrics"      : {"apiKey": "your api key"},
      "UserVoice"        : {"apiKey": "your api key"},
      "Sentry"           : {"config": "your config key"},
      "Segment.io"       : {"apiKey": "your api key"},
      "Keen IO"          : {"projectId": "your project id", "writeKey": "your write key"}
    }
  },
	"twitter": {
		"consumerKey": "<APP_ID_HERE>",
		"secret" : "<SECRET_HERE>"
	},
	"pushNotifications": {
	  "apn": {
	    "passphrase": "<PASSPHRASE>",  
	    "key": "<PushKey.pem>",
	    "cert": "<PushCert.pem>",
	    "gateway": "gateway.sandbox.push.apple.com"
	  },  
	  "gcm": {
	    "apiKey": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
	    "projectNumber": "12345"
	  },
	  "production": false,
	  "badge": true,
	  "sound": true,
	  "alert": true,
	  "vibrate": true
	}
}
