{
	"facebook": {
		"appId": "<APP_ID_HERE>",
		"secret" : "<SECRET_HERE>"
	},
	"twitter": {
		"consumerKey": "<APP_ID_HERE>",
		"secret" : "<SECRET_HERE>"
	},
	"pushNotifications": {
	  "apn": {
	    "passphrase": "<PASSPHRASE>",  
	    "key": "<PushKey.pem>",
	    "cert": "<PushCert.pem>"
	  },  
	  "gcm": {
	    "apiKey": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
	    "projectNumber": "12345"
	  },
	  "production": false,
	  "badge": true,
	  "sound": true,
	  "alert": true,
	  "vibrate": true
	}
}
