// sidemenu.scss

#sidemenu {

	.profile-header {
		display: block;
	  background: #27272B url("/images/nodes.png") center center no-repeat;
	  background-size: cover;
	  text-align: center;
	  padding: 24px;
	  text-decoration: none;
	  &.guest {
	  	background: #f8f8f8;
	  }

	  .avatar-image {
	  	height: 80px;
	  }
	  .avatar-initials {
	  	display: none;
	  }



	}

	.logo {
		width: 50vw;
    height: inherit;
    margin-top: 10px;
	}

	.icon {
		color: grey;
	}

	.selected {
		background-color: aliceblue;
		.icon {
	    color: darkgreen;
		}
	}

}
