<template name="sidemenu">

	<div id="sidemenu">

		{{#with user}}
	    <a class="profile-header" data-ion-menu-close="" href="#">
	      {{> avatar user=this size="large" shape="circle"}}
	      <h3>{{profile.first_name}}</h3>
	    </a>
	  {{else}}
	    <a class="profile-header guest" data-ion-menu-close="" href="#">
	      <div class="logo"></div>
	    </a>
	  {{/with}}

	  <div class="list">
	  	<!-- <a class="{{selectedPath 'welcome'}} item item-icon-left" data-ion-menu-close="" href="/welcome">
	      <i class="icon ion-flag"></i>Welcome
	    </a> -->
	    <a class="{{selectedPath 'topics'}} item item-icon-left" data-ion-menu-close="" href="/topics">
	      <i class="icon ion-ios-home"></i>Home
	    </a>
	    <a class="{{selectedPath 'notifications'}} item item-icon-left" data-ion-menu-close="" href="/notifications">
	      <i class="icon ion-ios-bell"></i>
	      Notifications
	      <span class="badge badge-assertive">{{numNotifications}}</span>
	    </a>
	    <!-- <a class="item item-icon-left" data-ion-menu-close="" href="/profile">
	      <i class="icon ion-person"></i>Profile
	    </a> -->
	    <!-- <a class="item item-icon-left" data-ion-menu-close="" href="/recent">
	      <i class="icon ion-aperture"></i>Recent
	    </a> -->
	    <a class="{{selectedPath 'about'}} item item-icon-left" data-ion-menu-close="" href="/about">
	      <i class="icon ion-iphone"></i>About the App
	    </a>
	    {{#if user}}
	    <a class="item item-icon-left" data-ion-menu-close="" data-action="signout">
	      <i class="icon ion-android-exit"></i>Logout
	    </a>
	    {{/if}}

	  </div>

  </div>

</template>