<template name="about">
  <div class="about-view">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-entering button-active" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">About</h1>
  {{/contentFor}}
  
  {{#ionView}}
    {{#ionContent}}
      
      <div class="row row-center full-height">
        <div class="col content-block">
          <div class="logo"></div>
          <div class="description">The place for the most complete questions and answers when renting, buying, selling or looking to invest in properties in the UK.</div>
          <div class="sponsor">This app was created by <a href="#" onclick="window.open('http://levproperties.co.uk')">Lev Properties</a></div>
        </div>
      </div>

      {{#if version}}
      <div class="bar bar-footer">
        <div class="version">App Version {{version}}</div>
      </div>
      {{/if}}
      
    {{/ionContent}}
  {{/ionView}}
  </div>
</template>
