<template name="headlines">
  <div class="headlines-view">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{topic}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="search">
      {{> ionIcon icon='ios-search'}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each headlines}}
          {{#ionItem class="headline" href=path}}
            <h2 class="headline-title">{{title}}</h2>
            <p class="headline-asked-by">{{askedAt_TimeAgo}}{{#if askedBy}} by {{askedByUser}}{{/if}}</p>
          {{/ionItem}}
        {{/each}}
      {{/ionList}}

      

      <!-- <button class="button icon-left ion-help-circled button-block button-positive button-ask-question" data-action="new-question">Ask a Question</button> -->

    {{/ionContent}}


    <div class="bar bar-footer bar-positive">
      <button class="button button-full button-clear button-ask-question" data-action="new-question">Ask a Question</button>
    </div>

  {{/ionView}}

  </div>
</template>
