// welcome.scss
//
$color-twitter: #4099ff;
$color-facebook: #3B5998;

* {
    box-sizing: border-box;
}

.welcome-view {
    overflow: hidden;

    .background-image {
        z-index: -111;
        background: url("/images/welcome.png");
        -webkit-filter: blur(5px);
        background-size: cover;
        background-position: center;
        height: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .content {
        color: white;
        text-align: center;
        position: relative;
        height: 100vh;

        .half-facebook {
            width: 45%;
            left: 10px;
            margin: 0;
            border-radius: 0;
            background-color: $color-facebook;
            border: none;
            bottom: 35%;
            position: absolute!important;
        }

        .half-twitter {
            width: 45%;
            right: 10px;
            bottom: 35%;
            margin: 0;
            border-radius: 0;
            background-color: $color-twitter;
            border: none;
            position: absolute!important;
        }
    }

    .title {
        font-size: 38px;
        left: 0;
        right: 0;
        background: url(/images/logo.png);
        background-size: cover;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        width: 60vw;
        margin: 9vh auto 4vh auto;
    }

    .slogan {
        font-size: 3.2vh;
        left: 0;
        right: 0;
        padding: 1em;
        line-height: 4.2vh;
        text-shadow: 1px 2px 5px #000;
        padding-top: 0;
        font-weight: 500;
    }

    .guest {
        font-size: 18px;
        color: lightgrey;
        text-decoration: none;
        &:visited {
            text-decoration: none;
            color: lightgrey;
        }
        position: absolute;
        bottom: 22%;
        left: 0;
        right: 0;
        padding: 20px;

    }

    .terms {
        font-size: 14px;
        color: lightgrey;
        text-decoration: none;
        &:visited {
            text-decoration: none;
            color: lightgrey;
        }
        position: absolute;
        bottom: 10vh;
        margin: 0 auto;
        left: 0;
        right: 0;
        padding-top: 10px;
    }
}