<template name="welcome">
  {{#ionView}}
    {{#ionContent}}
      <div class="welcome-view">
      <div class="background-image"></div>
      <div class="content">
        <p class="title">Q&amp;A Properties</p>
        <div class="slogan">The place for the most complete questions and answers when renting, buying, selling or looking to invest in properties in the UK.</div>

       <p>
         <button id="facebook-login" class="button icon-left ion-social-facebook button-block button-positive half-facebook">Facebook</button>

         <button id="twitter-login" class="button icon-left ion-social-twitter button-block button-positive half-twitter">Twitter</button>
       </p>
        <p>
        <a class="terms" data-action="view-terms" href="#">By using this app, you agree to the <b>Terms of Use</b></a>
      	</p>
      	<p>
      		<a class="guest" href="/topics">Continue as Guest</a>
      	</p>
      </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
