<template name="newQuestion">
  {{#ionModal customTemplate=true}}
    {{# autoForm collection="Posts" id="question-new-form" type="insert"}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
        <h2 class="title">New Question</h2>
        <button type="submit" class="button button-positive button-clear">Send</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickField name="topicId" value=topicId }}
        {{> afQuickField name="title" autofocus="true"}}
        {{> afQuickField name="question" rows=8}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
