<template name="acceptPushNotifications">
  {{#ionModal title="Push Notifications"}}
    <div class="acceptPushNotifications-modal full-height">
      
      <div class="row row-center full-height">
      	<div class="col col-center">
      		Would you like to receive push notifications whenever you get an answer ?
      	</div>
    	</div>

      <div class="bar bar-footer bar-positive">
			  <button class="button button-full button-clear continue">Continue</button>
			</div>

    </div>
  {{/ionModal}}
</template>
