<template name="acceptPushNotifications">
  <div class="acceptPushNotifications-modal">
  {{#ionModal title=""}}
      
      <div class="row row-center full-height">
      	<div class="col col-center message">
          The app will send you push notifications whenever you get an answer or receive a message.
      	</div>
    	</div>

      <div class="bar bar-footer bar-positive">
			  <button class="button button-full button-clear continue">Continue</button>
			</div>

  {{/ionModal}}
  </div>
</template>
