<template name="search">
  <div class="search-modal">
  {{#ionModal title="Search"}}
    <div class="list">
      
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          {{> ionIcon icon="ios-search" class="placeholder-icon"}}
          <input type="text" placeholder="Search" value="{{searchQuery}}" autofocus>
        </label>
      </div>
      

      {{#each headlines}}
        {{#ionItem class="headline" href=path}}
          <h2 class="headline-title">{{title}}</h2>
          <p class="headline-asked-by">{{askedAt_TimeAgo}}</p>
        {{/ionItem}}
      {{/each}}

    </div>
  {{/ionModal}}
  </div>
</template>
