<template name="post">
  
    <div class="post-view">
    {{#with post}}
    	
      {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton class="button-positive" text=false}}
      {{/contentFor}}

      {{#contentFor "headerTitle"}}
        <h1 class="title">My Post Title</h1>
      {{/contentFor}}

      {{#contentFor "headerButtonRight"}}
        <button class="button button-clear pull-right button-positive" data-action="share-post">
          {{> ionIcon icon='ios-upload-outline'}}
        </button>
      {{/contentFor}}

      {{#ionView class="headlines-view"}}
        {{#ionContent}}

        	<h2>{{title}}</h2>
  	      <div class="question">{{question}}</div>
  	      
          {{#if answer}}

            <div class="answer">{{answer}}</div>
    	      <div class="votes">
    	      	<span>UPVOTES: {{upVotes}}</span>
    	      	<span>DOWNVOTES: {{downVotes}}</span>
    	      </div>
    	    	<div class="feedback">
    	        <span class="feedback-label">Was it Useful?</span>	        
            	<a class="feedback-btn {{upVoted}} feedback-thumbup button button-icon icon ion-thumbsup"></a>
            	<a class="feedback-btn {{downVoted}} feedback-thumbdown button button-icon icon ion-thumbsdown"></a>
    	      </div>

    	      <hr>

    	      <div class="padding post-detail-comments">
              <h5>{{numComments}} Comments</h5>
              <button class="button button-positive button-small button-circle button-new-comment" data-action="new-comment">
                {{>ionIcon icon="plus"}}
              </button>
            </div>

            <div class="list">
              {{#each comments}}
                <div class="item item-text-wrap comment-item">
    					    {{#with author}}
    					      <a href="#" class="comment-item-author">
    					        {{> avatar user=this size="small" shape="circle"}}
    					        {{profile.first_name}}
    					      </a>
    					    {{/with}}
    					    <p>
    					      {{body}}
    					    </p>
    					  </div>
              {{/each}}
            </div>

          {{else}}

          <p>
            <button class="button button-positive button-full" data-action="answer-question">Answer This Question</button>
          </p>

          {{/if}}

        {{/ionContent}}
      {{/ionView}}

    {{/with}}
    </div>
</template>
