// post.scss

.post-view {

  .title {
    font-family: "nimbus-sans";
    font-style: normal;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 1;
    margin: 0 .5em;
    margin-top: .2em;
    padding: 10px 0 0;
  }

  .question,.answer {

    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: .9em;
  }



	////// Feedback //////

	.feedback {
    display: block;
    clear: both;
    overflow: hidden;
    margin-left: 1.3em;
    margin-right: 2em;
	}
	.feedback-label {
    display: block;
    float: left;
    margin-top: 12px;
    font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #aaaaaa;
  }
  .feedback-thumbup {
    display: block;
    float: right;
    margin-top: -9px;
    margin-left: 8px;
  	font-size: 20px;
    color: gray;
  	&.selected {
  		color: lightgreen;
  	}
  }
  .feedback-thumbdown {
    display: block;
    float: right;
    font-size: 20px;
    color: gray;
    &.selected {
  		color: lightcoral;
  	}
  }

  .post-detail-comments {
    position: relative;
    .button-new-comment {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }



}