<template name="profile">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#with user}}
        <div class="profile-header">
          {{> avatar user=this size="large" shape="circle"}}
          <h3>{{ profile.name }}</h3>
        </div>
        <div class="profile-body">
          <button class="button button-positive" data-action="sign-out">Sign Out</button>
        </div>
      {{else}}
        <div class="empty-view">
          {{> ionIcon icon="ios-person"}}
          No profile yet!
        </div>
      {{/with}}
    {{/ionContent}}
  {{/ionView}}
</template>
