// signIn.scss

@import 'client/stylesheets/_app-variables';

$color-twitter: #4099ff;
$color-facebook: #3B5998;

.signin-modal {

    .modal {
        background-color: #f8f8f8;
    }

    .content {

        h2 {
            font-size: 38px;
            margin-top: 50%!important;
            color: $lev-dark-green;
        }

        h3 {
            font-size: 16px;
            font-weight: 200;
            color: gray;
        }

        .button {
            position: absolute;
            left: 0;
            right: 0;

            &.ion-social-twitter {
                bottom: 0;
                margin: 0;
                border-radius: 0;
                background-color: $color-twitter;
                border: none;
            }
            &.ion-social-facebook {
                bottom: 55px;
                margin: 0;
                border-radius: 0;
                background-color: $color-facebook;
                border: none;
            }
        }
    }
}