<template name="signIn">
  {{#ionModal title=""}}

    <div class="padding text-center sign-in-modal">
      <p>
        <img src="/favicon-160x160.png" width=80 height=80 />
        <br>
        <strong>Hey! Please sign in to do that :)</strong>
      </p>

      <p>

        <button id="facebook-login" class="button icon-left ion-social-facebook button-block button-positive"> Login with Facebook</button>

        <button id="twitter-login" class="button icon-left ion-social-twitter button-block button-positive"> Login with Twitter</button>

      </p>
    </div>

  {{/ionModal}}
</template>
