<template name="signIn">
  <div class="signin-modal">
  {{#ionModal title=""}}

    <div class="padding text-center">
      <h2>Sign In</h2>
      <h3>To ask a question or to leave feedback.</h3>

      <p>

        <button id="facebook-login" class="button icon-left ion-social-facebook button-block button-positive"> Login with Facebook</button>

        <button id="twitter-login" class="button icon-left ion-social-twitter button-block button-positive"> Login with Twitter</button>

      </p>
    </div>

  {{/ionModal}}
  </div>
</template>
