<template name="notifications">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-entering button-active" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">Notifications</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if hasNotifications}}
        {{#ionList}}
          {{#each headlines}}
            {{#ionItem href=path}}
              <h2 class="headline-title">{{title}}</h2>
              <p class="headline-asked-by">{{askedAt_TimeAgo}}{{#if askedBy}} by {{askedByUser}}{{/if}}</p>
            {{/ionItem}}
          {{/each}}
        {{/ionList}}
      {{else}}
        <div class="empty-view">
          {{> ionIcon icon="ios-bell"}}
          You don't have notifications!
        </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}

</template>
